<div class="container d-flex flex-column mt-3">
  <div class="dropdown w-100">
    <a href="#" class="btn dropdown-toggle account-dropdown w-100 d-flex justify-content-between align-items-center"
      role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      MY ORDERS
      <span class="dropdown-arrow"></span>
    </a>
    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="customer/account">MY ACCOUNT</a></li>
      <li><a class="dropdown-item" href="customer/wishlist">WISHLIST</a></li>
      <li><a class="dropdown-item" href="#">LOGOUT</a></li>
    </ul>
  </div>
  <span class="account-title mt-4">MY ORDERS</span>