<div class="container mt-2">
  <div class="row">
    <!-- Carousel Column -->
    <div id="carouselExampleFade" class="col-12 col-lg-8  carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/carousel/956x528-En.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/carousel/Website_768x270_EN.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/carousel/Website_956x528_EN.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Sidebar for large Screens -->
    <div class="sidebar-large col-lg-4  d-none d-lg-block">
      <div class="h-100">
        <ul class="list-group h-100">
          <li class="list-group-item d-flex flex-row flex-fill text-center pe-1  border-0 ">
            <img src="../../../assets/articles/destiny_2_final_shape_img_1_-_137x76.png" class="img-fluid" alt="">
            <div class="d-flex flex-column">
              <span class="mt-1">NEW RELEASE</span>
              <h3>ELDEN RING IS COMING IN YOUR TOWN</h3>
            </div>
          </li>
          <li class="list-group-item  d-flex flex-row flex-fill  text-center pe-1 border-0 ">
            <img src="../../../assets/articles/ELDEN_RING_SHADOW_OF_THE_ERDTREE_PC_img_1_-_137x76.png" class="img-fluid"
              alt="">
            <div class="d-flex flex-column">
              <span class="mt-1">NEW RELEASE</span>
              <h3>ELDEN RING IS COMING IN YOUR TOWN</h3>
            </div>
          </li>
          <li class="list-group-item  d-flex flex-row flex-fill  text-center  border-0 pe-1 ">
            <img src="../../../assets/articles/eso_gold_road_img_1_-_137x76.png" class="img-fluid" alt="">
            <div class="d-flex flex-column">
              <span class="mt-1">NEW RELEASE</span>
              <h3>ELDEN RING IS COMING IN YOUR TOWN</h3>
            </div>
          </li>
          <li class="list-group-item d-flex flex-row  flex-fill   text-center pe-1  border-0 ">
            <img src="../../../assets/articles/destiny_2_final_shape_img_1_-_137x76.png" class="img-fluid" alt="">
            <div class="d-flex flex-column">
              <span class="mt-1">NEW RELEASE</span>
              <h3>ELDEN RING IS COMING IN YOUR TOWN</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Sidebar for small Screens-->
  <div class="sidebar-small row d-none d-md-block d-lg-none">
    <div class="col-12">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item d-flex flex-column flex-fill text-center pe-1  border-0 ">
          <img src="../../../assets/articles/destiny_2_final_shape_img_1_-_137x76.png" class="img-fluid" alt="">
          <span class="mt-1">NEW RELEASE</span>
          <h3>ELDEN RING IS COMING IN YOUR TOWN</h3>
        </li>
        <li class="list-group-item  d-flex flex-column flex-fill text-center pe-1 border-0 ">
          <img src="../../../assets/articles/ELDEN_RING_SHADOW_OF_THE_ERDTREE_PC_img_1_-_137x76.png" class="img-fluid"
            alt="">
          <span class="mt-1">NEW RELEASE</span>
          <h3>ELDEN RING IS COMING IN YOUR TOWN</h3>
        </li>
        <li class="list-group-item  d-flex flex-column flex-fill text-center  border-0 pe-1 ">
          <img src="../../../assets/articles/eso_gold_road_img_1_-_137x76.png" class="img-fluid" alt="">
          <span class="mt-1">NEW RELEASE</span>
          <h3>ELDEN RING IS COMING IN YOUR TOWN</h3>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-main-body></app-main-body>